jenkins-cli.jar
JENKINS_HOME/*
!JENKINS_HOME/jobs
JENKINS_HOME/jobs/*/builds
JENKINS_HOME/jobs/*/nextBuildNumber

JENKINS_HOME/jobs/*/jobs/*/lastStable
JENKINS_HOME/jobs/*/jobs/*/lastSuccessful
JENKINS_HOME/jobs/*/jobs/*/modules/
JENKINS_HOME/jobs/*/jobs/*/nextBuildNumber

JENKINS_HOME/jobs/*/jobs/*/builds/
JENKINS_HOME/jobs/*/jobs/*/workspace/
JENKINS_HOME/jobs/*/jobs/*/scm-polling.log
JENKINS_HOME/jobs/*/jobs/*/workspace*/